div.dog{
    
    border: 1px solid black;
}
img.dog{
    width: 200px;
    max-height: 400px;
}

label{
    display: block !important;
}

select.correct{
    background-color: #66ff99;
}

select.incorrect {
    background-color: #ff6666;
}